.page {
  width: 100%;
}

.image-div {
  float: left;
  width: 40%;
}

.content-div {
  float: right;
  width: 60%;
  padding-top: 20px;
  font-size: 24px;
  text-align: center;
}

.page {
  page-break-after: always;
}
.page:last-child {
  page-break-after: unset;
}
